* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principal div{
    display: block;
}
.box1 {
    margin: 10px;
}

.header {
    background-color: hsl(0, 5%, 75%);
    text-align: center;
    vertical-align: auto;
}

.nav1 {
    background-color: rgb(228, 228, 227);
    text-align: center;
    vertical-align: auto;
}
.cuerpo{
    background-color: rgba(49, 35, 35, 0.804);
    margin: 10px;
    padding: 15px;
}
.cuerpo div{
    display: inline-block;
    margin: 10px;
    padding: 15px;

}
.izquierdo{
    vertical-align: top;
    width: 70%;
    height: 706px;
    background-color: rgb(162, 167, 171);
}
.izquierdo div{
    display: block;
    
}

.inicio {
    text-align: center;
    vertical-align: auto;
    border: 5px solid rgb(195, 208, 112);
    background-color: rgb(231, 238, 238);
    height: 40%;
    align-content: center;
    
}

.imagenes{
    text-align: center;
    height: 60%;
    align-content: center;
}

.imagenes div{
    display: inline-block;
    border: 5px solid rgb(195, 208, 112);
    background-color: rgb(231, 238, 238);
    width: 30%;
    aspect-ratio: 1/1;
    align-content: center;
    text-align: center;
    margin: 14px;
}
.derecho div{
    border: 5px solid rgb(195, 208, 112);
    background-color: rgb(231, 238, 238);
    
}
.derecho {
    display: block;
    width: 26%;
    text-align: center;
    background-color: rgb(162, 167, 171);
}
.pie{
    background-color: rgb(162, 167, 171);
    padding: 10px;
    margin: 10px;
    text-align: center;

}